@model  List<Fiap07.Web.MVC.Models.Imovel>

@{
                /**/

                ViewBag.Title = "Listar";
}
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<h2>Listar</h2>

@using (Html.BeginForm("Buscar", "Imovel", FormMethod.Get, new { @class = "form-inline"}))
{
    @Html.DropDownList("categoriaId", ViewBag.categorias as SelectList,
    "Selecione", new { @class = "form-control" })
    @Ajudante.Botao("Buscar");

}

<table class="table table-striped" style="margin-top:30px">
    <tr>
        <th>Id</th>
        <th>Endereço</th>
        <th>Preço</th>
        <th>Contrato</th>
        <th>Escritura</th>
        <th>Categoria</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ImovelId</td>
            <td>@item.Endereco</td>
            <td>R$@item.Valor</td>
            <td>@item.Contrato</td>
            <td>@item.Escritura.NumeroCartorio</td>
            <td>@item.Categoria.Nome</td>

        </tr>
    }
</table>
